<% if activerecord? -%>
class <%= table_prefix.camelize %> < ApplicationRecord
  include Rodauth::Rails.model
<% if ActiveRecord.version >= Gem::Version.new("7.0") -%>
  enum :status, { unverified: 1, verified: 2, closed: 3 }
<% else -%>
  enum status: { unverified: 1, verified: 2, closed: 3 }
<% end -%>
end
<% else -%>
class <%= table_prefix.camelize %> < Sequel::Model
  include Rodauth::Rails.model
  plugin :enum
  enum :status, unverified: 1, verified: 2, closed: 3
end
<% end -%>
