<% if rodauth.authenticated? %>
  <p>Authenticated as <%= current_account.email %></p>
<% else %>
  <p>Not authenticated</p>
<% end %>

<p><%= rodauth.rails_controller_eval { some_method } %></p>

<span id="session_id"><%= session.id %></p>
