<div class="form-group">
  <div class="form-check">
    <%%= check_box_tag rodauth.global_logout_param, "t", false, id: "global-logout", class: "form-check-input" %>
    <%%= label_tag "global-logout", "Logout all Logged In Sessons?", class: "form-check-label" %>
  </div>
</div>
