<div class="form-group mb-3">
  <%%= label_tag "login", "Login", class: "form-label" %>
  <%%= render "field", name: <%= rodauth %>.login_param, id: "login", type: :email, autocomplete: "email" %>
</div>
