<div class="form-group">
  <%%= label_tag "login-confirm", "Confirm Login" %>
  <%%= render "field", name: rodauth.login_confirm_param, id: "login-confirm", type: :email, autocomplete: "email" %>
</div>
