<div class="form-group">
  <%= label_tag "login", "Email" %>
  <%= email_field_tag rodauth.login_param, params[rodauth.login_param], id: "login", readonly: true, class: "form-control-plaintext" %>
</div>
