<div class="form-group mb-3">
  <%%= label_tag "login", "Login", class: "form-label" %>
  <%%= email_field_tag <%= rodauth %>.login_param, params[<%= rodauth %>.login_param], id: "login", readonly: true, class: "form-control-plaintext" %>
</div>
