<div class="form-group mb-3">
  <%%= label_tag "new-password", <%= rodauth %>.new_password_label, class: "form-label" %>
  <%%= render "field", name: <%= rodauth %>.new_password_param, id: "new-password", type: "password", value: "", autocomplete: "new-password" %>
</div>
