<div class="form-group">
  <%= label_tag "new-password", "New Password" %>
  <%= render "field", name: rodauth.new_password_param, id: "new-password", type: "password", value: "", autocomplete: "new-password" %>
</div>
