<div class="form-group">
  <%= label_tag "otp-auth-code", "Authentication Code" %>
  <div class="row">
    <div class="col-sm-3">
      <%= render "field", name: rodauth.otp_auth_param, id: "otp-auth-code", value: "", autocomplete: "off", inputmode: "numeric" %>
    </div>
  </div>
</div>
