<div class="form-group mb-3">
  <%%= label_tag "password-confirm", "Confirm Password", class: "form-label" %>
  <%%= render "field", name: rodauth.password_confirm_param, id: "password-confirm", type: :password, value: "", autocomplete: "new-password" %>
</div>
