<div class="form-group row">
  <%= label_tag "password", rodauth.password_label + rodauth.input_field_label_suffix, class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= render "field", name: rodauth.password_param, id: "password", type: "password", value: "", autocomplete: "current-password" %>
  </div>
</div>
