<div class="form-group">
  <%%= label_tag "password-confirm", "Confirm Password" %>
  <%%= render "field", name: rodauth.password_confirm_param, id: "password-confirm", type: :password, value: "", autocomplete: "new-password" %>
</div>
