<div class="form-group">
  <%%= label_tag "password", "Password" %>
  <%%= render "field", name: rodauth.password_param, id: "password", type: :password, value: "", autocomplete: "current-password" %>
</div>
