<div class="form-group mb-3">
  <%%= label_tag "password", <%= rodauth %>.password_label, class: "form-label" %>
  <%%= render "field", name: <%= rodauth %>.password_param, id: "password", type: :password, value: "", autocomplete: <%= rodauth %>.password_field_autocomplete_value %>
</div>
