<div class="form-group mb-3">
  <%%= label_tag "recovery_code", <%= rodauth %>.recovery_codes_label, class: "form-label" %>
  <%%= render "field", name: <%= rodauth %>.recovery_codes_param, id: "recovery_code", value: "", autocomplete: "off" %>
</div>
