<div class="form-group">
  <%= label_tag "sms-code", "SMS Code" %>
  <div class="row">
    <div class="col-sm-3">
      <%= render "field", name: rodauth.sms_code_param, id: "sms-code", value: "", autocomplete: "one-time-code", inputmode: "numeric" %>
    </div>
  </div>
</div>
