<div class="form-group row">
  <%= label_tag "sms-code", rodauth.sms_code_label + rodauth.input_field_label_suffix, class: "col-sm-3 col-form-label" %>
  <div class="col-sm-3">
    <%= render "field", name: rodauth.sms_code_param, id: "sms-code", value: "", autocomplete: "one-time-code", inputmode: "numeric" %>
  </div>
</div>
