<div class="form-group">
  <%%= label_tag "sms-phone", "Phone Number" %>
  <div class="row">
    <div class="col-sm-3">
      <%%= render "field", name: rodauth.sms_phone_param, id: "sms-phone", type: :tel, autocomplete: "tel" %>
    </div>
  </div>
</div>
