<%= form_with url: rodauth.email_auth_path, method: :post, data: { turbo: false } do |form| %>
  <div class="form-group mb-3">
    <%= form.submit rodauth.login_button, class: "btn btn-primary" %>
  </div>
<% end %>
