<%%= form_tag rodauth.otp_setup_path, method: :post do %>
  <%%= hidden_field_tag rodauth.otp_setup_param, rodauth.otp_user_key, id: "otp-key" %>
  <%%= hidden_field_tag rodauth.otp_setup_raw_param, rodauth.otp_key, id: "otp-hmac-secret" if rodauth.otp_keys_use_hmac? %>

  <div class="form-group mb-3">
    <p>Secret: <%%= rodauth.otp_user_key %></p>
    <p>Provisioning URL: <%%= rodauth.otp_provisioning_uri %></p>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg">
      <div class="form-group mb-3">
        <p><%%= rodauth.otp_qr_code.html_safe %></p>
      </div>
    </div>

    <div class="col-lg-6 col-lg">
      <%%= render "password_field" if rodauth.two_factor_modifications_require_password? %>
      <%%= render "otp_auth_code_field" %>
      <%%= render "submit", value: "Setup TOTP Authentication" %>
    </div>
  </div>
<%% end %>
