<%= form_tag rodauth.reset_password_request_path, method: :post do %>
  <p>If you have forgotten your password, you can request a password reset:</p>
  <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
    <%= render "login_hidden_field" %>
  <% else %>
    <%= render "login_field" %>
  <% end %>
  <%= render "submit", value: "Request Password Reset" %>
<% end %>
