<%%= form_tag <%= rodauth %>.sms_request_path, method: :post do %>
  <div class="form-group mb-3">
    <%%= submit_tag <%= rodauth %>.sms_request_button, class: "btn btn-primary" %>
  </div>
<%% end %>
