<% if rodauth.two_factor_setup_links.any? %>
  <h2>Setup Multifactor Authentication</h2>

  <ul>
    <% rodauth.two_factor_setup_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link %></li>
    <% end %>
  </ul>
<% end %>

<% if rodauth.two_factor_remove_links.any? %>
  <h2>Remove Multifactor Authentication</h2>

  <ul>
    <% rodauth.two_factor_remove_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link %></li>
    <% end %>
    <% if rodauth.two_factor_remove_links.length > 1 %>
      <li><%= link_to "Remove All Multifactor Authentication Methods", rodauth.two_factor_disable_path %></li>
    <% end %>
  </ul>
<% end %>
