<%= form_tag rodauth.unlock_account_request_path, method: :post do %>
  <p>This account is currently locked out.  You can request that the account be unlocked:</p>
  <%= render "login_hidden_field" %>
  <%= render "submit", value: "Request Account Unlock" %>
<% end %>
