<h2 class="mb-3 text-3xl font-semibold text-center dark:text-gray-200">
  <%= rodauth.sms_request_page_title %>
</h2>
<div class="dark:bg-gray-900 min-h-full flex justify-center py-4 px-4 sm:px-6 lg:px-8">
  <%= form_with url: rodauth.sms_request_path, method: :post, data: { turbo: false } do |form| %>
    <div class="py-3">
      <%= form.submit rodauth.sms_request_button, class: "px-8 py-2 font-semibold rounded-md flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:bg-emerald-400 dark:text-gray-900" %>
    </div>
  <% end %>
</div>
