<!DOCTYPE html>
<html>
  <head>
    <title>Rodauth::Rails Test</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
