# Read about fixtures at https://api.rubyonrails.org/classes/ActiveRecord/FixtureSet.html
one:
  email: freddie@queen.com
  password_hash: <%%= RodauthApp.rodauth.allocate.password_hash("password") %>
  status: verified

two:
  email: brian@queen.com
  password_hash: <%%= RodauthApp.rodauth.allocate.password_hash("password") %>
  status: verified
