name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["ruby-3.0", "ruby-3.1", "ruby-3.2", "ruby-3.3", "ruby-3.4", "ruby-4.0", "jruby-9.4"]
        rails: ["5.2", "6.0", "6.1", "7.0", "7.1", "7.2", "8.0", "8.1"]
        exclude:
          - ruby: "ruby-4.0"
            rails: "5.2"
          - ruby: "ruby-3.4"
            rails: "5.2"
          - ruby: "ruby-3.3"
            rails: "5.2"
          - ruby: "ruby-3.2"
            rails: "5.2"
          - ruby: "ruby-3.1"
            rails: "8.1"
          - ruby: "ruby-3.1"
            rails: "8.0"
          - ruby: "ruby-3.1"
            rails: "5.2"
          - ruby: "ruby-3.0"
            rails: "8.1"
          - ruby: "ruby-3.0"
            rails: "8.0"
          - ruby: "ruby-3.0"
            rails: "7.2"
          - ruby: "ruby-3.0"
            rails: "5.2"
          - ruby: "jruby-9.4"
            rails: "8.1"
          - ruby: "jruby-9.4"
            rails: "8.0"
          - ruby: "jruby-9.4"
            rails: "7.2"
          - ruby: "jruby-9.4"
            rails: "7.1"
          - ruby: "jruby-9.4"
            rails: "5.2"
    env:
      BUNDLE_GEMFILE: ci.gemfile
      RAILS_VERSION: ${{ matrix.rails }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test
