name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["ruby-2.6", "ruby-2.7", "ruby-3.0", "ruby-3.1", "ruby-3.2", "ruby-3.3", "ruby-3.4", "jruby-9.4"]
        gemfile: ["rails-5.1", "rails-5.2", "rails-6.0", "rails-6.1", "rails-7.0", "rails-7.1", "rails-7.2", "rails-8.0", "rails-8.1"]
        exclude:
          - ruby: "ruby-3.4"
            gemfile: "rails-5.2"
          - ruby: "ruby-3.4"
            gemfile: "rails-5.1"
          - ruby: "ruby-3.3"
            gemfile: "rails-5.2"
          - ruby: "ruby-3.3"
            gemfile: "rails-5.1"
          - ruby: "ruby-3.2"
            gemfile: "rails-5.2"
          - ruby: "ruby-3.2"
            gemfile: "rails-5.1"
          - ruby: "ruby-3.1"
            gemfile: "rails-8.1"
          - ruby: "ruby-3.1"
            gemfile: "rails-8.0"
          - ruby: "ruby-3.1"
            gemfile: "rails-5.2"
          - ruby: "ruby-3.1"
            gemfile: "rails-5.1"
          - ruby: "ruby-3.0"
            gemfile: "rails-8.1"
          - ruby: "ruby-3.0"
            gemfile: "rails-8.0"
          - ruby: "ruby-3.0"
            gemfile: "rails-7.2"
          - ruby: "ruby-3.0"
            gemfile: "rails-5.2"
          - ruby: "ruby-3.0"
            gemfile: "rails-5.1"
          - ruby: "ruby-2.7"
            gemfile: "rails-8.1"
          - ruby: "ruby-2.7"
            gemfile: "rails-8.0"
          - ruby: "ruby-2.7"
            gemfile: "rails-7.2"
          - ruby: "jruby-9.4"
            gemfile: "rails-8.1"
          - ruby: "jruby-9.4"
            gemfile: "rails-8.0"
          - ruby: "jruby-9.4"
            gemfile: "rails-7.2"
          - ruby: "jruby-9.4"
            gemfile: "rails-7.1"
          - ruby: "jruby-9.4"
            gemfile: "rails-5.2"
          - ruby: "jruby-9.4"
            gemfile: "rails-5.1"
          - ruby: "ruby-2.6"
            gemfile: "rails-8.1"
          - ruby: "ruby-2.6"
            gemfile: "rails-8.0"
          - ruby: "ruby-2.6"
            gemfile: "rails-7.2"
          - ruby: "ruby-2.6"
            gemfile: "rails-7.1"
          - ruby: "ruby-2.6"
            gemfile: "rails-7.0"
    env:
      BUNDLE_GEMFILE: gemfiles/Gemfile.${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test
